<% layout("layouts/main") %>

<!-- Product Hero -->

<section class="products-hero">

    <div class="container">

        <%- include("./components/toolbar") %>

    </div>

</section>

<!-- Products -->
        <%- include("./components/productGrid") %>

<!-- Pagination -->

<%- include("./components/pagination") %>