<head>
    <link rel="stylesheet" href="/css/admin/pages/changePass.css">
</head>

<% layout("layouts/main") %>


<div class="change-password-page">

    <div class="change-password-card">

        <div class="password-header">

            <div class="password-icon">

                <i class='bx bx-lock-alt'></i>

            </div>

            <div>

                <h2>Change Password</h2>

                <p>
                    Keep your account secure by updating your password regularly.
                </p>

            </div>

        </div>

        <form
        action="/profile/change-password"
        method="POST"
        class="password-form">

            <div class="form-group">

                <label>

                    Current Password

                </label>

                <div class="password-input">

                    <input

                    type="password"

                    name="currentPassword"

                    id="currentPassword"

                    required>

                    <i
                    class='bx bx-hide togglePassword'
                    data-target="currentPassword"></i>

                </div>

            </div>

            <div class="form-group">

                <label>

                    New Password

                </label>

                <div class="password-input">

                    <input

                    type="password"

                    name="newPassword"

                    id="newPassword"

                    required>

                    <i
                    class='bx bx-hide togglePassword'
                    data-target="newPassword"></i>

                </div>

                <div class="password-strength">

                    <div class="strength-bar">

                        <span id="strengthFill"></span>

                    </div>

                    <small id="strengthText">

                        Password Strength

                    </small>

                </div>

            </div>

            <div class="form-group">

                <label>

                    Confirm Password

                </label>

                <div class="password-input">

                    <input

                    type="password"

                    name="confirmPassword"

                    id="confirmPassword"

                    required>

                    <i
                    class='bx bx-hide togglePassword'
                    data-target="confirmPassword"></i>

                </div>

            </div>

            <button
            type="submit"
            class="password-btn">

                <i class='bx bx-check-circle'></i>

                Update Password

            </button>

        </form>

    </div>

</div>


<script src="/js/admin/changePass.js"></script>