.hero{

height:85vh;

}

.heroSwiper{

width:100%;

height:100%;

}

.swiper-slide{

position:relative;

}

.swiper-slide img{

width:100%;

height:100%;

object-fit:cover;

}

.hero-overlay{

position:absolute;

inset:0;

display:flex;

flex-direction:column;

justify-content:center;

align-items:flex-start;

padding-left:10%;

background:linear-gradient(to right,rgba(0,0,0,.55),rgba(0,0,0,.15));

color:#fff;

}

.hero-overlay h1{

font-size:58px;

max-width:650px;

margin-bottom:20px;

}

.hero-overlay p{

font-size:20px;

margin-bottom:30px;

}

.hero-btn{

padding:16px 36px;

background:#16a34a;

border-radius:12px;

color:#fff;

font-weight:700;

transition:.3s;

}

.hero-btn:hover{

background:#15803d;

}

.swiper-button-next,
.swiper-button-prev{

color:#fff;

}

.swiper-pagination-bullet{

background:#fff;

opacity:.7;

}

.swiper-pagination-bullet-active{

background:#16a34a;

}