@media(max-width:992px){

.menu-toggle{

display:flex;

align-items:center;

justify-content:center;

}

.sidebar{

position:fixed;

left:-280px;

top:0;

width:260px;

height:100vh;

transition:.35s;

z-index:9999;

}

.sidebar.active{

left:0;

}

}