<ul class="nav-links">

    <li>

        <a href="/" class="nav-link">

            Home

        </a>

    </li>

    <li>

        <a href="/products" class="nav-link">

            Products

        </a>

    </li>

    <li class="has-dropdown">

        <a href="#" class="nav-link">

            Categories

            <i class='bx bx-chevron-down'></i>

        </a>

        <%- include("./categoryMenu") %>

    </li>

    <li>

        <a href="/about" class="nav-link">

            About

        </a>

    </li>

    <li>

        <a href="/contact" class="nav-link">

            Contact

        </a>

    </li>

</ul>