<div class="search-wrapper">

    <form
        action="/products"
        method="GET"
        class="search-form"
    >

        <div class="search-box">

            <i class='bx bx-search'></i>

            <input
                type="text"
                name="search"
                placeholder="Search Ayurvedic Products..."
                autocomplete="off"
            >

        </div>

    </form>

    <!-- Future Live Search -->
    <div class="search-dropdown">

        <!--
        Dynamic Search Results

        Hair Oil
        Face Wash
        Aloe Vera Gel

        -->

    </div>

</div>