<% layout("layouts/admin") %>

<form action="/admin/announcements" method="POST">

    <%- include("../../partials/_form", {
    formTitle: "Create Announcement",
    announcement: null
}) %>

</form>