<% layout("/layouts/admin") %>

<div class="admin-users-page">

    <%- include("../../partials/components/adminUsers/userStats") %>

    <%- include("../../partials/components/adminUsers/userSearch") %>

    <%- include("../../partials/components/adminUsers/userGrid") %>

</div>