<% layout("layouts/main") %>

<link rel="stylesheet" href="/css/website/address.css">

<main class="address-page">

    <div class="container">

        <div class="address-page-header">

            <div class="page-header">


                <div class="page-header">


    <a href="/addresses" class="back-btn">

        <i class='bx bx-arrow-back'></i>

        Back

    </a>

</div>

</div>

        </div>

        <%- include("../../partials/components/addressSection/addressForm") %>

    </div>

</main>

<script src="/js/website/address.js"></script>