<div class="filter-card">

    <h3>

        Filters

    </h3>

    <div class="filter-group">

        <h4>

            Categories

        </h4>

        <% categories.forEach(category=>{ %>

            <label>

                <input
                type="checkbox">

                <%= category.name %>

            </label>

        <% }) %>

    </div>

    <div class="filter-group">

        <h4>

            Price

        </h4>

        <input
        type="range"
        min="0"
        max="5000">

    </div>

</div>