<div class="sort-bar">

    <div>

        <strong>

            <%= products.length %>

        </strong>

        Products

    </div>

    <select>

        <option>

            Latest

        </option>

        <option>

            Price Low To High

        </option>

        <option>

            Price High To Low

        </option>

        <option>

            A-Z

        </option>

    </select>

</div>