/*==========================================
            THUMBNAILS
==========================================*/

.product-thumbnail-wrapper{

display:flex;

gap:15px;

margin-top:22px;

flex-wrap:wrap;

}

.product-thumbnail{

width:90px;

height:90px;

border-radius:18px;

overflow:hidden;

border:2px solid transparent;

cursor:pointer;

transition:.35s;

background:#fff;

}

.product-thumbnail img{

width:100%;

height:100%;

object-fit:cover;

}

.product-thumbnail:hover{

transform:translateY(-5px);

border-color:#16A34A;

}

.active-thumb{

border-color:#16A34A;

box-shadow:0 8px 20px rgba(22,163,74,.25);

}

@media(max-width:768px){

.product-thumbnail{

width:70px;

height:70px;

}

.product-thumbnail-wrapper{

justify-content:center;

}

}